@font-face {
    font-family: Hanken-Grotesk;
    src: url(./fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
    font-family: Hanken-Grotesk;
    background-color: white;
    font-weight: 500;
    height: 100vh;
    display: grid;
    place-items: center;


}

main {
    box-shadow: 10px 10px 30px rgb(220, 220, 220);
    display: flex;
    width: min-content;

}

/**************** Result  ****************/

.result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19rem;
    box-sizing: border-box;
    padding: 1.3rem;


}

.result h1 {
    color: hsl(241, 100%, 89%);
    font-size: 1.1rem;

}



.white {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}

.paleblue {
    color: hsl(241, 100%, 89%);
    margin: 0;
    padding: 1rem;

}

/*********** Circle ***********/

.circle {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    color: hsl(241, 100%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.circle h2 {
    color: white;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.circle p {
    margin: 0;

}



/**************** Summary ****************/

.summary {
    display: grid;
    box-sizing: border-box;
    padding: 2rem;
    color: hsl(224, 30%, 27%);
}

table {
    width: 15rem;
    font-weight: 700;
    border-collapse: collapse;
    text-align: left;
}

th img {
    vertical-align: middle;
    margin: 0.5rem;
}

.rowred {
    background-color: hsla(0, 100%, 67%, 0.060);
    color: hsl(0, 100%, 67%);
}

.rowgreen {
    background-color: hsla(166, 100%, 37%, 0.060);
    color: hsl(166, 100%, 37%);

}


.rowyellow {
    background-color: hsla(39, 100%, 56%, 0.060);
    color: hsl(39, 100%, 56%);

}

.rowblue {
    background-color: hsla(234, 85%, 45%, 0.055);
    color: hsl(234, 85%, 45%);
}

.cien {
    color: hsl(240, 0%, 56%);
}

.variable{
    color: hsl(224, 30%, 27%);
}

button {
    background-color: hsl(224, 30%, 27%);
    border-style: none;
    color: hsl(221, 100%, 96%);
    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
    border-radius: 40px;
    margin-top: 2rem;
}

button:hover{
    background-image: linear-gradient( #4e21ca,  #2e2be9);
}

/**************** Mobile version  ****************/

@media (max-width:375px) {

    body{
        margin: 0;
        

    }
    main{
        display: flex;
        flex-direction: column;
        
    }

    .result{
        width: 100vw;
        border-radius: 0px 0px 2rem 2.5rem;
        
    }

  .summary{
    margin: 0;
  }
  table{
    width: 100%;
  }
    
}
